
# Created by https://www.gitignore.io/api/perl,visualstudiocode

### Perl ###
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/perl,visualstudiocode

.vstags
.vstags
CSImage-2017/CSImage-2017.vdi
CSImage-2017/CSImage-2017.vmdk
sakura-msater/*
sakura-master/sakura-master/sakura.jpg
sakura-master/sakura-master/sakura160.jpg
sakura-master/sakura-master/css/normalize.css
sakura-master/sakura-master/src/bookmarklet.js
f18Final.sql
sakura-master/sakura-master/css/sakura-light.css
sakura-master/sakura-master/CONTRIBUTING.md
sakura-master/sakura-master/LICENSE.txt
sakura-master/sakura-master/README.md
sakura-master/sakura-master/package.json
sakura-master/sakura-master/css/sakura.css
sakura-master/sakura-master/css/sakura-dark.css
sakura-master/sakura-master/css/sakura-dark-solarized.css
sakura-master/sakura-master/css/sakura-earthly.css
sakura-master/sakura-master/css/sakura-vader.css
sakura-master/sakura-master/scss/_main.scss
sakura-master/sakura-master/scss/sakura.scss
sakura-master/sakura-master/scss/sakura-dark.scss
sakura-master/sakura-master/scss/sakura-dark-solarized.scss
sakura-master/sakura-master/scss/sakura-earthly.scss
sakura-master/sakura-master/scss/sakura-vader.scss
